@import '../../sass/index.scss';

.optionContainer {
  cursor: pointer;
  padding: 1rem;
  width: 100%;

  &__iternal {
    background-color: $yellow;
    border-radius: 3px;
    padding: 2rem;
    text-align: center;

    &:hover {
      background-color: $darkYellow;
    }
  }

  &__name,
  &__icon {
    display: inline-block;
  }
}

@media screen and (min-width: $breakpointMobile) {
  .optionContainer {
    width: 50%;
  }
}