@import '../../sass/index.scss';

.homeContent {
  display: flex;
  flex-wrap: wrap;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  width: 100%;

}

.accounts {
  width: 100%;

  &__none {
    font-size: 1.8rem;
    margin-top: 3rem;
    text-align: left;
  }

  &__container {
    padding: 0 1rem;
  }
}

.Modal {
  background-color: $white;
  height: 100vh;
  outline: none;
  padding: 5rem 3rem;
  width: 100vw;

  h2 {
    text-align: center;
  }
}

.Overlay {
  background: rgba($colorFont, 0.74);
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 25;
}

.error,
.success {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.error {
  color: $red;
}

.success {
  color: $green;
}

.closeBtn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media screen and (min-width: $breakpointMobile) {
  .Modal {
    @include absCenter;

    border-radius: 4px;
    height: auto;
    min-height: 22rem;
    width: 60rem;
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .homeContent {
    width: 90rem;
    margin: 0 auto;
  }
}