@import '../../sass/index.scss';

.homeContent {
  display: flex;
  flex-wrap: wrap;
}

.services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.accounts {
  width: 100%;
}

.accountsContainer {
  padding: 0 1rem;
}

.Modal {
  @include absCenter;

  width: 60rem;
  background-color: $white;
  border-radius: 4px;
  outline: none;
  padding: 5rem 3rem;

  h2 {
    text-align: center;
  }
}

.Overlay {
  background: rgba($colorFont, 0.74);
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 25;
}

.form {
  width: 90%;
  background: $white;
  margin: 0 auto;
  padding: 0;

  &__group {
    position: relative;
  }

  &__group:nth-child(4) {
    margin-bottom: 4.8rem;
  }

  &__input {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    padding: 2.2rem 2rem;
    transition: all 0.3s;
    width: 100%;

    &:focus {
      outline: none;
    }

    &_invalid {
      border-color: $red;
    }
  }

  &__input_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../../assets/keyboard-down-arrow.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 1.7rem;
  }

  &__label {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    transition: all .3s;
  }

  &__placeholder {
    display: block;
    font-size: 1.1rem;
    top: 0.3rem;
    left: 0.5rem;
    color: $colorElement;
    position: absolute;
  }

  &__input:placeholder-shown + &__placeholder {
    opacity: 0;
    transition: all .3s;
  }

  .btnContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    div:first-child {
      margin-right: 1rem;
    }
  }

  &__error {
    bottom: -2rem;
    color: $red;
    font-weight: 700;
    left: 0.5rem;
    position: absolute;
  }
}